[2021-12-23 00:47] Ned-Laman-NOAA opened #1 "Allocation between boats and strata"
Apply sampling design and allocation code to pick and assign stations to vessels

[2021-12-23 20:11] Ned-Laman-NOAA opened #2 "Lat-Longs to ArcGIS"
Share vessel-assigned station positions (lon/lat) to Mark Z for chart building in ArcGIS
- [ ] Ned/Paul

[2021-12-23 20:12] Ned-Laman-NOAA opened #3 "Create Skipper Station Logs"
These are the paper logs of station assignments for the skipper to use on the bridge during the survey.

- [ ] Paul

[2021-12-23 20:13] Ned-Laman-NOAA opened #4 "Station Progress Spreadsheet"
This is the pre-printed physical log of stations sampled that the FPC fills out on the bridge

- [ ] Ned/Nate

[2021-12-23 20:15] Ned-Laman-NOAA opened #5 "Coordination with Leg Changes"
This seems out of place in Station Allocation - has more to do with personnel scheduling?

- [ ] Ned/Paul

[2022-01-05 19:00] coleary-noaa opened #6 "RSST gear request"

[2022-01-11 20:25] coleary-noaa commented on #6
DONE!

[2022-01-11 22:13] MargaretSiple-NOAA opened #7 "Test to-do item for GOA AI team meeting"
Here is an example item!

[2022-01-11 22:19] coleary-noaa commented on #6
Done!

[2022-01-11 22:19] #6 closed, assigned to coleary-noaa

[2022-01-27 22:16] bethanyriggle opened #8 "Update Survey Stations"
Cecilia/Ned/Megsie's instructions for updating Globe files are [here](https://docs.google.com/document/d/1Dyt0soCwV0SBIY6bk4szMGlNDwGNGxQL/edit?usp=sharing&ouid=111519802483611531993&rtpof=true&sd=true).

Products from this process:
1. Station list for the year in Access and entered in Globe
2. Survey grid in Access, entered in Globe, and output in ArcGIS format for Mark

[2022-01-27 22:22] bethanyriggle commented on #4
Blerg

[2022-01-27 22:32] bethanyriggle opened #9 "Update Old Tow Paths"

[2022-01-27 22:42] nwraring opened #10 "Other (Strata lines, sealion rookeries, etc.)"
Instructions for creating chart layers are [here](https://docs.google.com/document/d/1Dyt0soCwV0SBIY6bk4szMGlNDwGNGxQL/edit?usp=sharing&ouid=111519802483611531993&rtpof=true&sd=true).
Instructions for turning shapefiles into Globe files are [here](https://docs.google.com/document/d/11bBlF6z38_F_t2ZXlPxizyUfGrQG2856TLRKfKQQP1w/edit?usp=sharing).

(Edited by Megsie to include more info, mostly for m

[2022-01-27 22:43] nwraring commented on #10
When will this be added?

[2022-01-27 22:47] nwraring opened #11 "Establish a new survey"

[2022-01-28 03:43] zoyafuso-NOAA commented on #1
[Discussion](https://docs.google.com/document/d/1SfOtuP3632TT5Xb5Ef0rmkWx4LLKEiJp9hJleWxh6lI/edit) about how to incorporate new unvisited stations

[R package](https://github.com/afsc-gap-products/AIGOASurveyPlanning) that houses the `goa.planning()` function that allocates stations to strata and vessel.

[Repo](https://github.com/zoyafuso-NOAA/AI_planning_stations) that runs the code and outputs

[2022-01-28 03:51] zoyafuso-NOAA commented on #2
Vessel-assigned station positions were delivered to Mark Zimmerman and Paul von Szalay 1/27/22

[2022-01-28 03:51] #2 closed, assigned to zoyafuso-NOAA

[2022-01-28 16:18] MargaretSiple-NOAA opened #12 "Skipper station log (paper)"
Paul is also on this task! I will bug him to accept his org invite... :)

[2022-01-28 19:30] bethanyriggle opened #13 "Review and add survey standards for haul, length, and specimen"

[2022-01-28 19:47] bethanyriggle opened #14 "Assign vessels to cruises"

[2022-01-28 19:49] bethanyriggle opened #15 "Review and add GIDES error checks"

[2022-01-28 19:52] bethanyriggle opened #16 "Survey stations"

[2022-01-28 19:55] bethanyriggle opened #17 "Old tow paths/update with R output"

[2022-01-28 19:58] bethanyriggle opened #18 "Special projects"

[2022-01-28 19:59] bethanyriggle opened #19 "Other (strata lines, sea lions etc.)"

[2022-01-28 20:02] bethanyriggle opened #20 "Other (strata lines, sea lions etc.)"

[2022-01-28 21:29] bethanyriggle opened #21 "Crab storage area"

[2022-01-28 21:31] bethanyriggle opened #22 "Special projects"

[2022-01-28 21:32] bethanyriggle opened #23 "Print physical charts"

[2022-01-28 21:34] bethanyriggle opened #24 "Call for proposals"

[2022-01-28 21:36] bethanyriggle opened #25 "Proposal deadline"

[2022-01-28 21:41] bethanyriggle opened #26 "Review of proposals"

[2022-01-28 21:44] bethanyriggle opened #27 "Allocation between boats (Bethany observes)"

[2022-01-28 21:46] bethanyriggle opened #28 "CORE call for requests"

[2022-01-28 21:48] bethanyriggle opened #29 "CORE request deadline"

[2022-01-28 21:48] bethanyriggle opened #30 "Food Habits request review"

[2022-01-28 21:51] bethanyriggle opened #31 "Otolith request review"

[2022-01-28 21:51] bethanyriggle opened #32 "posters for otoliths, special projects species codes??"

[2022-01-28 21:53] bethanyriggle opened #33 "Plan & Recruitment"

[2022-01-28 21:54] bethanyriggle opened #34 "Travel plans"
Adding check boxes here to get better resolution for tasks.

Travel requests drafted and sent to Ned (@MargaretSiple-NOAA and @SarahFriedman-NOAA ):

- [x] Travel requests for Leg 1
- [x] Travel requests for Leg 2
- [x] Travel requests for Leg 3

Travel requests signed and sent to nmfs.afsc.race.admin@noaa.gov  (@Ned-Laman-NOAA ):

- [x] Leg 1
- [x] Leg 2
- [x] Leg 3

Send emails (@MargaretSiple-N

[2022-01-28 21:57] bethanyriggle opened #35 "Optional Health forms (to be put in FPC box)"

[2022-01-28 22:00] bethanyriggle opened #36 "Overtime authorization"

[2022-01-28 22:01] bethanyriggle opened #37 "Non GOA/AI Personnel Training, gear"

[2022-01-28 22:06] bethanyriggle opened #38 "Putting together document"

[2022-01-28 22:09] bethanyriggle opened #39 "Inclusion of special projects"

[2022-01-28 22:12] bethanyriggle opened #40 "IPHC permit"

[2022-01-28 22:12] bethanyriggle opened #41 "ADFG permit"

[2022-01-28 22:12] bethanyriggle opened #42 "Region SRP (protected spp consult first)"

[2022-01-28 22:12] bethanyriggle opened #43 "Environmental compliance"

[2022-01-28 22:13] bethanyriggle opened #44 "SSL zones"

[2022-01-28 22:17] bethanyriggle opened #45 "Update web-based program with manual and files."

[2022-01-31 17:39] bethanyriggle opened #46 "File box and forms"

[2022-01-31 17:41] bethanyriggle opened #47 "Electronic station log"

[2022-01-31 17:41] bethanyriggle opened #48 "Files for boats"

[2022-01-31 17:43] bethanyriggle opened #49 "Protected species mitigation kit and cheat sheet"

[2022-01-31 17:52] bethanyriggle opened #50 "Loading of Apps on Tablets"

[2022-01-31 17:52] bethanyriggle opened #51 "Vet and test tablet apps"

[2022-01-31 17:52] bethanyriggle opened #52 "Testing and set up of METIS/GIDES at sea on one vessel"

[2022-01-31 17:54] bethanyriggle opened #53 "Addition of all software on computer, ready for cloning"

[2022-01-31 17:54] bethanyriggle opened #54 "Testing with equipment (data ent)"

[2022-01-31 17:54] bethanyriggle opened #55 "Testing with equipment (wheelhouse, New WH & New Calypso"

[2022-01-31 17:54] bethanyriggle opened #56 "Computers packed"

[2022-01-31 17:56] bethanyriggle opened #57 "Testing applications"

[2022-01-31 17:58] bethanyriggle opened #58 "GBL Request (3 months before arrival date in Dutch Harbor)"

[2022-01-31 17:58] bethanyriggle opened #59 "RSST gear request"

[2022-01-31 17:59] bethanyriggle opened #60 "Net gear request"

[2022-01-31 17:59] bethanyriggle opened #61 "Chemical Request"

[2022-01-31 17:59] bethanyriggle opened #62 "Special project supplies"

[2022-01-31 17:59] bethanyriggle opened #63 "Hazard Materials Shipping Declaration"

[2022-01-31 17:59] bethanyriggle opened #64 "ID books"

[2022-01-31 17:59] bethanyriggle opened #65 "Pack/Load Containers"

[2022-01-31 17:59] bethanyriggle opened #66 "Water manifold system for OEX (check and update)"

[2022-01-31 19:36] bethanyriggle opened #67 "Inventory"

[2022-01-31 22:47] nwraring opened #68 "Calibration"

[2022-01-31 23:26] nwraring opened #69 "Purchasing new supplies"

[2022-01-31 23:28] nwraring opened #70 "Assess conditions"

[2022-01-31 23:29] nwraring opened #71 "Repair/replace"

[2022-01-31 23:30] nwraring opened #72 "Assembling"

[2022-01-31 23:30] nwraring opened #73 "Loading"

[2022-01-31 23:34] nwraring opened #74 "ID"

[2022-02-01 00:24] nwraring opened #75 "Marport"

[2022-02-01 00:24] nwraring opened #76 "FPC training"

[2022-02-01 00:25] nwraring opened #77 "Net repair"

[2022-02-01 00:25] nwraring opened #78 "ArcMap"

[2022-02-01 00:26] nwraring opened #79 "GIDES/Calypso"

[2022-02-01 00:26] nwraring opened #80 "Decklead training"

[2022-02-01 00:26] nwraring opened #81 "Chemical safety"

[2022-02-01 00:26] nwraring opened #82 "Medical/ coldwater"

[2022-02-01 00:26] nwraring opened #83 "Protected species mitigation"

[2022-02-01 00:27] nwraring opened #84 "Safety"

[2022-02-01 00:28] nwraring opened #85 "Survey background"

[2022-02-01 00:33] nwraring opened #86 "Survey design and tools"

[2022-02-01 00:33] nwraring opened #87 "Data collection and use"

[2022-02-01 00:33] nwraring opened #88 "Survey trawls"

[2022-02-01 00:33] nwraring opened #89 "Biological Collection"

[2022-02-01 00:33] nwraring opened #90 "Haul data collection"

[2022-02-01 00:33] nwraring opened #91 "Leadership skills and professionalism"

[2022-02-01 00:33] nwraring opened #92 "Scientific project requests"

[2022-02-01 00:33] nwraring opened #93 "Safety at sea"

[2022-02-01 00:33] nwraring opened #94 "Protected species training"

[2022-02-01 00:34] nwraring opened #95 "Hydroacoustics"

[2022-02-01 00:34] nwraring opened #96 "Species ID"

[2022-02-01 00:34] nwraring opened #97 "Survey support"

[2022-02-01 00:34] nwraring opened #98 "COVID training"

[2022-02-01 00:36] nwraring opened #99 "Cruise announcement"

[2022-02-01 00:36] nwraring opened #100 "Updated L-W relationship"

[2022-02-01 00:42] nwraring opened #101 "SIP Leg 1"

[2022-02-01 00:42] nwraring opened #102 "SIP Leg 2"

[2022-02-01 00:42] nwraring opened #103 "Conduct Leg 2"

[2022-02-01 00:43] nwraring opened #104 "SIP Leg 3"

[2022-02-01 00:43] nwraring opened #105 "Conduct Leg 3"

[2022-02-01 00:44] nwraring opened #106 "Conduct Leg 1"

[2022-02-01 00:46] nwraring opened #107 "Leg 1"

[2022-02-01 00:46] nwraring opened #108 "Leg 2"

[2022-02-01 00:46] nwraring opened #109 "Leg 3"

[2022-02-01 00:49] nwraring opened #110 "Haul data editing"

[2022-02-01 00:49] nwraring opened #111 "Haul data OB FB final picks"

[2022-02-01 00:49] nwraring opened #112 "Catch data editing"

[2022-02-01 00:49] nwraring opened #113 "Data Base Finalization"

[2022-02-01 19:36] MargaretSiple-NOAA opened #114 "test task"

[2022-02-09 20:18] zoyafuso-NOAA commented on #4
From @Ned-Laman-NOAA :

Can a station dropping tool take day of survey into account?
What I'm thinking is that on your first fishing day, you have the entire Aleutian chain to distribute your dropped stations across. On a day mid way through the survey, half of the stations picked to drop have already been sampled, right?
I'm not really sure that this is a tractable problem to solve with code, but

[2022-02-09 20:41] zoyafuso-NOAA commented on #4
Hi @Ned-Laman-NOAA,

Yes, this is the drawback of the station dropping protocol I proposed. Correct, if the decision to drop stations is done at the halfway point, half of the stations prioritized to drop may have already been sampled. One workaround would be to develop code that conducts the Neyman allocation conditional on the strata that have not been sampled yet, e.g., you finish with the stra

[2022-02-09 21:24] coleary-noaa commented on #9
started task & are creating files. Access 2010 wasn't installed on one Globe computer and Gary is working on that.

[2022-02-09 22:43] Ned-Laman-NOAA commented on #4
@zoyafuso-NOAA,
This is just a thought experiment for this year, but a good one. This could play out in the Gulf as well so this isn't in a vacuum.
I arrived at your conclusion #2 as well. This could be done thru human intervention (FPC coin flipping or whatever) rather than programmatically and I think would still fit within the spirit of what you've already established with the station dropping

[2022-02-10 18:54] zoyafuso-NOAA commented on #31
From Nancy: G:\SURVEY COLLECTIONS holds the otolith review requests from previous years.

[2022-02-14 18:27] zoyafuso-NOAA commented on #31
@Ned-Laman-NOAA

I used a bootstrapping technique to gauge how well the requested otolith sampling plan for 2022 would have met the requested otolith targets for the past five sampling years (2010, 2012, 2014, 2016, 2018). For each sampling year, I take a empirical bootstrap sample (sampling with replacement) of 420 hauls and apply each otolith collection rule [as requested for 2022](https://docs.

[2022-02-14 23:24] Ned-Laman-NOAA commented on #31
This looks great, Zack! Answers to some of your questions.
For Atka, contact Sandra Lowe and ask her if the target of 1000 from 2020 still holds. It looks like her 2022 request would hit that mark closely enough.
For Greenland turbot, it looks like increasing the collection rubric above 15 wouldn't result in more specimens. Is that your read? If so, then we let Meaghan know that we appear to be co

[2022-02-15 04:12] zoyafuso-NOAA commented on #31
@Ned-Laman-NOAA

I will contact SA authors tomorrow and cc you with those messages. I'll work on those bootstraps with increased collection rules for the deficit species and I'll note the capacity for total haul-level collections at 25-28. For NRS, I assumed if >= 2, collect 2, otherwise 0. I think Carey inputted 2 otoliths previously and maybe removed it (or I assumed it was 2 for the analysis) b

[2022-02-15 18:14] Ned-Laman-NOAA commented on #100
Good morning.
I just received a question from Nancy about whether we will be updating Length-Weight Parameters for the Aleutians this summer. I would guess that if we updated these in 2018, there's no need to re-address this year since we have no new data to assess (no 2020 survey).
Please let me know if you agree or if you plan to revisit this so I can tell Nancy what to anticipate for setting up

[2022-02-15 18:17] coleary-noaa commented on #100
We'll go with no update! We will spend this time training Zack to use this code and potentially clarifying where values come from (GIDES vs our data).

[2022-02-15 18:24] smcdermo commented on #100
No update is fine with me.
Sus

On Tue, Feb 15, 2022 at 10:14 AM Ned Laman ***@***.***> wrote:

--
Susanne McDermott, PhD  she/her
Research Fisheries Biologist
Alaska Fisheries Science Center
7600 Sand Point Way N.E.
Seattle, WA 98115-6349
(425) 681 1626

[2022-02-15 19:18] Ned-Laman-NOAA commented on #100
Sounds good to me. Thanks for completing another Task on The List! Make sure to mark it as Done.

[2022-02-15 19:25] bethanyriggle commented on #67
Inventory finished 11/2021.

[2022-02-15 19:26] #67 closed, assigned to nwraring, bethanyriggle

[2022-02-15 19:26] bethanyriggle commented on #70
Assessment completed 11/2021

[2022-02-15 19:27] #70 closed, assigned to bethanyriggle

[2022-02-15 19:57] coleary-noaa commented on #100
We did not update LW relationships and will add a link to the code once we add it to the group repo

[2022-02-15 22:04] smcdermo commented on #66
HI Ned
I am going to campus tomorrow and can check on this.  I think the tank with the manifold is in building 32 is this correct?

[2022-02-15 22:05] smcdermo commented on #66
I meant to say 'Hi Nate'.

[2022-02-15 22:08] smcdermo commented on #30
HI Sarah,
I don't know how to start this project.  Do you know where we are getting the stomach request so we can look at them?

[2022-02-15 22:18] SarahFriedman-NOAA commented on #61
Just an update on this task progress for posterity:

I've talked with Joanna Magner (the new point person in RSST for chemical requests) and she confirmed that the amounts for each chemical for 2021 were the following:

It seems that the extra 10 gallons of ethanol on the AKP were for a sponge project for Sean and I'm unsure if that is continuing this year. So, we'll likely be sticking with the sa

[2022-02-15 22:30] bethanyriggle commented on #66
@smcdermo I somehow had 4 of the nozzles show up in my office, so I put them in your office last week. Just a heads up!

[2022-02-15 23:40] bethanyriggle commented on #66
Re-opened the issue until manifold system has been checked and updated.

[2022-02-16 00:08] nwraring commented on #66
I do think the tank is in 32 but I can't confirm that.

[2022-02-16 16:45] #60 closed, assigned to nwraring

[2022-02-16 16:45] #28 closed, assigned to nobody

[2022-02-16 16:45] #24 closed, assigned to nobody

[2022-02-16 16:45] #59 closed, assigned to nwraring, bethanyriggle

[2022-02-16 16:46] #29 closed, assigned to nobody

[2022-02-16 16:46] #25 closed, assigned to nobody

[2022-02-16 16:50] bethanyriggle commented on #56
Update from Gary: Computers need to be finished with uploading and packed by **April 1**.

[2022-02-16 16:51] bethanyriggle commented on #53
All software needs to be updated on computers before **April 1**.

[2022-02-16 16:51] Conrathcl commented on #26
I started a table[ here](https://docs.google.com/spreadsheets/d/1br8esdbZYswRgeTI5EKr7PIXhePW4nCW/edit?usp=sharing&ouid=105279028397081025832&rtpof=true&sd=true) to keep track of special project requests . It is a starting place for the discussion, scroll to the far right columns for a place to add your thoughts, notes, and action items.  Several projects are repeaters so have more info/notes from

[2022-02-16 16:59] Ned-Laman-NOAA commented on #26
Thanks, Christina. This is outstanding! I've made it about halfway through my personal ranking system on these projects and had noted some of the things you are already working on (e.g., supplementary information, assessing asks from RACEBase perspective, etc.) so thank for being right on top of this. I'm looking forward to our conversation tomorrow.

[2022-02-17 00:57] Conrathcl commented on #26
Shared google drive folder with special project materials [here](https://drive.google.com/drive/folders/1g2MFkv-D_FSx1ohAJS2cKaF25ciLuFB6?usp=sharing).  Thanks Ned for passing along the files from Nancy.

[2022-02-17 01:24] Ned-Laman-NOAA commented on #26
Thanks, Christina.
I should've thought to put them in our folder or share them here in GitHub.
...still learning!

[2022-02-17 01:25] Ned-Laman-NOAA commented on #26
PS - I've spoken with Shawn Russell about the mooring project and have sent him the additional information to help us evaluate whether that ask is doable from our boats.

[2022-02-17 21:25] smcdermo commented on #66
HI Nate and Bethany.  I checked the grey tank in BLd. 32 that has the red hoses in it.  Everything is there and I added the 4 nozzles from Bethany.  HOwever, there are no spare parts in this tank other than the 4 spare nozzles that I added.    I think we ordered some spare camlock endings and some stainless steel hose clamps last year but they don't seem to be in that tank.

[2022-02-17 21:52] nwraring commented on #66
Hi Sus. Thanks for looking after that. Could you check around to see if you can find the missing parts? I'd suggest checking with Joanna and Kevin as well as whoever was last on the boat. I wonder if it's possible that the stuff was left on the vessel. At this point we don't know who our second boat will be. If it did turn out to be the OEX maybe you could contact the vessel and ask about it but I

[2022-02-18 21:18] Ned-Laman-NOAA commented on #58
[NOAA Form 42-15, Bill of Lading Request-94-nb2016.pdf](https://github.com/afsc-gap-products/Survey-Planning/files/8100461/NOAA.Form.42-15.Bill.of.Lading.Request-94-nb2016.pdf)

[2022-02-21 22:43] zoyafuso-NOAA commented on #31
Updates from last week, refer to the [output document](https://github.com/zoyafuso-NOAA/AIGOA_Core_Otolith/blob/main/results/species_bootstrap.pdf) for the following notes. These plots show the distribution of bootstrapped total otolith collected under the requested/modified 2022 collection rules with the targets in dashed lines.

1)  Sandra Lowe confirmed a target of 1000 for Atka mackerel.
2)  I

[2022-02-22 21:14] coleary-noaa commented on #8
Received AI 2022 station list from Zack, completed conversion to Globe file and loaded on to G drive G:\ALEUTIAN\AI 2022\Files for Boats\Globe\Marks\AI_stations_2022.mdb and on both Globe computers.

[2022-02-22 21:14] #8 closed, assigned to coleary-noaa, MargaretSiple-NOAA

[2022-02-22 21:15] coleary-noaa commented on #9
Completed and loaded on to G drive G:\ALEUTIAN\AI 2022\Files for Boats\Globe\Lines\globe_paths_2022.mdb and loaded on both Globe computers.

[2022-02-22 21:15] #9 closed, assigned to coleary-noaa, MargaretSiple-NOAA

[2022-02-22 21:31] coleary-noaa commented on #10
The following Lines files were added to both Globe computers and G:\ALEUTIAN\AI 2022\Files for Boats\Globe\Lines:
-globe_paths_2022.mdb
-New_rookery_lines_2021.mdb
-survey_grid_2022.mdb
-Survey2018SSLhapc areas.mdb
-SurveyTowPaths1980through2016.mdb

The following Marks files were added to both Globe computers and G:\ALEUTIAN\AI 2022\Files for Boats\Globe\Marks:
-AI_stations_2022.mdb
-globe_starts

[2022-02-22 22:47] MargaretSiple-NOAA commented on #9
For future reference, here is where the files on the Globe 990 computer came from:

## Lines files
globe_paths_2022.mdb - created from instructions and compared w Cecilia file
New_rookery_lines_2021.mdb - copied from G:\GOA\GOA 2021\Files for boats\Globe\Lines
survey_grid_2022.mdb - created from instructions and compared w Cecilia file
Survey2018SSLhapc areas.mdb - copied from G:\ALEUTIAN\AI 2018\

[2022-02-22 22:56] bethanyriggle opened #115 "Inventory ES60 Calibration Kits"

[2022-02-24 01:29] Conrathcl commented on #26
Hi All,

Quick status update:
We have heard back from all the PIs with clarifying information (captured in the notes + spreadsheet).  A summary of the queries is on the second sheet of the [evaluation file](https://docs.google.com/spreadsheets/d/1br8esdbZYswRgeTI5EKr7PIXhePW4nCW/edit?usp=sharing&ouid=105279028397081025832&rtpof=true&sd=true).  I don't think there was anything to be overly concerne

[2022-02-25 01:39] Ned-Laman-NOAA commented on #31
Point-by-point response
1 - thanks for confirming
2 - How did the SAs respond to our likely inability to meet their target specimen quantities?
3 - understood about adjusting SRS and NRS collections upward
4 - there is no rule of thumb about a max for shortrakers. we rarely get large numbers in single catches, but when we do we should take them
5 - Jane was OK with upping the SST and dusky collect

[2022-02-25 18:19] Ned-Laman-NOAA commented on #26
Thanks, Christina.
This all looks right on track and thanks for summarizing the queries and responses so far.
On the remaining action items:
I plan to contact the mooring project people to ask if they can supply "quick release for the crane hook and a long pole gaff for deployment and retrieval" per Shawn Russell's recommendation. I don't recall if I communicated it to you, but Shawn thought this

[2022-02-25 19:40] zoyafuso-NOAA commented on #31
2 - Meaghan, Paul, and Jane were fine with those species not reaching their targets.
4 - Shortrakers are quite over-dispersed so playing around with the collection rules doesn't really change the totals collected by much unless you really bump it to something like 15.
5 - From my conversations with Jane and Carey, it seems like they base their targets on what was previously collected. This is the

[2022-02-26 00:01] Ned-Laman-NOAA commented on #31
Thanks, Zack.
From what you've explained and put together, I think we are going to have to run with this total ask of 7700. I suspect that after a year without otoliths from the AI the collection need has increased slightly. If we hold true to form from what we saw in 2018 we collected around 5% less than the target asked for (6700 out of 7050) so perhaps we expect to collect something like 7400 o

[2022-02-26 00:09] nwraring commented on #31
Hi Ned and Zack. In the past Wayne has pretty much just told me how many
boxes to ask for. I'm thinning bout this and wondering if we have estimates
broken down by sp. Clearly if we were collecting 7700 from one sp. we'd
just divide that by 140 and add a couple of boxes and have our estimate. If
I can get an estimate per sp. I can estimate the number of boxes per sp as
well as the number of oversi

[2022-02-28 16:06] Conrathcl commented on #26
Thanks Ned, good point on the crab lengths - I was surprised by how many tows they were in over the past few surveys but mostly in small numbers.  On further reflection, I think we can knock that off the 'to do' list.

The deadline for this task is tomorrow - have you received the division priority rankings?

[2022-02-28 16:52] SarahFriedman-NOAA commented on #30
Is there anything else we need to do for this task? Just a head's up that I will be on leave from this Friday until after the deadline for this task (March 14). If there is anything else that needs to be done I'm happy to get to it this week.

[2022-02-28 16:55] Ned-Laman-NOAA commented on #26
Sounds like we are coming to the same conclusions about the crab lengths.
I was just starting to review the Division rankings [here](https://docs.google.com/spreadsheets/d/1svA3mD8nV3nRnkmIF8MZqeIC4tLpjn1ltTBVjvYoB1k/edit?usp=sharing).
Since we didn't reject any projects out of hand, I don't see any conflicts with the Division rankings.
It did seem odd that Ingrid's flatfish genomics project got l

[2022-02-28 17:04] Ned-Laman-NOAA commented on #30
Hi stomach collections team.
Find the CORE stomach collections request [here](https://docs.google.com/spreadsheets/d/1W8bKigNipl5IdQIQH5Kyq4twJxZKLi1zeS9UNE_JAsU/edit?usp=sharing).
Check in with Nancy Roberson to see if there is anything pending that's come across her desk. I haven't heard anything on my side.
Your basic responsibilities here are to let the stomach lab know that you're the point o

[2022-02-28 17:31] bethanyriggle commented on #16
Survey stations added to 2022 charts, needing to work with @MargaretSiple-NOAA and @coleary-noaa to match up station shapes and colors with the GLOBE ones.

[2022-02-28 17:35] bethanyriggle commented on #58
@Ned-Laman-NOAA, @nwraring and I met with Rebecca and Nicole on Friday, and Rebecca informed us that she has never had to fill this out for the survey, and usually RSST has handled this. Might be something to investigate further?

[2022-02-28 17:37] bethanyriggle commented on #37
@nwraring, sending inquiry to Brian Mason on 02/28 to see if FMA can help us get Mabel into a cold water training, either in Anchorage or coordinating to have her do all trainings in Seattle.

[2022-02-28 17:40] Ned-Laman-NOAA commented on #58
I will look into this and get back to you.

[2022-02-28 19:12] Ned-Laman-NOAA commented on #58
I heard from Gary McMurrin that Joanna typically has the duty for submitting the GBL for the containers and the net loft submits one for the flats that take the nets.
Joanna should be in our staff meeting tomorrow so let's confirm with her that she agrees with Gary's assessment and then we could consider modifying this task in the Task List to indicate RSST is responsible or perhaps we remove it f

[2022-02-28 22:58] Ned-Laman-NOAA commented on #31
@nwraring
Once Zack has updated the AI CORE otolith requests [here](https://docs.google.com/spreadsheets/d/1W8bKigNipl5IdQIQH5Kyq4twJxZKLi1zeS9UNE_JAsU/edit?usp=sharing), you should be able to review the final version to answer your question regarding how many otolith boxes we're likely going to need.
BTW - who is cleaning and stuffing otolith boxes for us this year? I had heard that Dennis wasn't

[2022-02-28 23:03] MargaretSiple-NOAA commented on #8
Confirmed that the doc above (on G Drive) is the same set of stations sent out by Ned on 2/28; "AIallocation420.xlsx". The header of the table looks like this:

![image](https://user-images.githubusercontent.com/73858992/156069742-850ceb4a-eba1-49c4-9ddb-5d500045af55.png)

[2022-02-28 23:17] #100 closed, assigned to zoyafuso-NOAA, coleary-noaa, MargaretSiple-NOAA

[2022-03-01 05:30] Ned-Laman-NOAA commented on #8
Outstanding!

[2022-03-01 05:34] Ned-Laman-NOAA commented on #12
Please confirm that the skipper station log used the correct station allocation found here (G:\ALEUTIAN\AI 2022\StationAllocation\AIallocation420.xlsx)

[2022-03-01 05:44] Ned-Laman-NOAA commented on #47
2 things
1-Please confirm that the electronic station logs were based on the correct station allocation found here (G:\ALEUTIAN\AI 2022\StationAllocation\AIallocation420.xlsx)
2-When I tried to operate the drop down menu for entering and assigned AKP station I received an error about "record source 'station selection'" not existing on the form. Same story for the OEX electronic station log (FYI -

[2022-03-01 05:44] #47 closed, assigned to smcdermo, vszalay, zoyafuso-NOAA

[2022-03-01 15:23] Conrathcl commented on #26
Thanks Ned,

It looks like the mooring project ranked very high (#one). I'm wanting to clarify that the parts of this work that require putting things over the side of the boat and/or retrieving them will be handled by the vessel personnel? And that this work is acceptable to the boat personnel as well as within the parameters of the contracts. I know that Shawn seemed to think it would be no prob

[2022-03-01 17:01] Ned-Laman-NOAA commented on #26
These are all great questions, Christina.
I'm with you that I want to have eye-to-eye discussions with the vessel captains (both) where these over-the-side projects are concerned. That puts us in a holding pattern for Wes' project since it will have to be on boat 2 to accommodate balancing the extra vessel days requested for yours and his projects. Those extra vessel days are also a discussion wit

[2022-03-01 17:17] Ned-Laman-NOAA commented on #99
Jerry needs a draft Cruise Announcement to move our permit process forward.
We can do this with tentative dates and staffing schedules.
I see a draft on the G-drive in the AI 2022 folder, can I modify that one as needed to meet Jerry's needs?

[2022-03-01 17:22] Conrathcl commented on #99
Hi Ned,  I'm not sure where that came from, so fine by me.  If you want some help with this, let me know.  I don't think I have a copy of the staffing schedule, but I can throw a map together or work on the other text if that is useful.

[2022-03-01 17:37] Ned-Laman-NOAA commented on #99
Thanks. Can you put together the station map? I can tackle the text and schedule.

[2022-03-01 18:08] vszalay commented on #12
Ned, I have confirmed that the station log located in the folder you mentioned is indeed the one I used for generating both the paper and electronic station logs.

[2022-03-01 18:15] Ned-Laman-NOAA commented on #12
Outstanding! Thank you Paul.

[2022-03-01 19:18] Conrathcl commented on #99
![map for cruise announcement 2022](https://user-images.githubusercontent.com/17622844/156234115-1db5be7f-e2fd-4103-8022-0dac29f4e352.jpg)

Let me know if you want me to tinker with the map, output it in a different format, or get it to you a different way.  I will drop it in the cruise announcement folder as well.

[2022-03-01 19:21] Ned-Laman-NOAA commented on #99
This looks great, Christina.
I'll grab the copy you put in the folder and stick it in the document. If something comes up at that point I'll let you know, but this looks ready to go as is.

[2022-03-01 21:30] vszalay commented on #47
Ned,  I have confirmed that the electronic station logs were based on the station allocation located at: G:\ALEUTIAN\AI 2022\StationAllocation\AIallocation420.xlsx.  As for your second point, thanks for noticing and pointing out the problem.  I have now fixed it.  Please check it out to make sure.

[2022-03-02 00:02] Conrathcl commented on #38
Draft document  started.  Located in the G drive in the Aleutian folder, 2022, Ops plan.  I don't anticipate making much progress until a few more of the pieces fall in place: special projects, vessel 2, survey staffing is shared, core projects (suspect those are around somewhere, just need to track them down).   I think all of those items are quite close though, so we should be able to get into t

[2022-03-02 17:30] Ned-Laman-NOAA commented on #47
thanks for confirming that, paul.
I fired up the e-station log and the initial error i had seen is now corrected. thank you for doing that.
i also played around with a copy and entered some data into; all of the other functionality seems to be there from my 5 minute test.

[2022-03-02 19:10] Ned-Laman-NOAA commented on #26
Learned some more about the mooring project:
The first thing I learned is that Jerry discussed with Catherine and Robyn Angliss the possibility that the acoustic release on the old mooring fails. If that happens, their recommendation was to drag a grapple for the old mooring! That would be a hard No in my opinion. However, Jerry has also indicated that they will be reasonable and even entertained

[2022-03-03 04:55] zoyafuso-NOAA commented on #4
Station dropping worksheet and rationale moved to: G:\ALEUTIAN\AI 2022\Files for Boats\Station Dropping Tool

[2022-03-03 04:55] #4 closed, assigned to Ned-Laman-NOAA, zoyafuso-NOAA

[2022-03-03 14:39] Ned-Laman-NOAA commented on #4
Thanks, Zack.

[2022-03-03 15:52] MargaretSiple-NOAA commented on #10
Christina sent special project zones on 3/3/22 for stone corals. Other special projects may have to come up with us on a USB drive. I am turning the stone corals csv into a accdb file for globe.

[2022-03-03 21:21] MargaretSiple-NOAA commented on #39
@Conrathcl Does it make sense for Sarah or I to edit anything here? I can use track changes to put in some of the revisions/comments I had from the GOA survey, but was not planning on doing anything for this one until we get dates/2nd vessel.

[2022-03-03 21:21] MargaretSiple-NOAA commented on #38
@Conrathcl Does it make sense for Sarah or I to edit anything here? I can use track changes to put in some of the revisions/comments I had from the GOA survey, but was not planning on doing anything for this one until we get dates/2nd vessel.

[2022-03-03 21:51] Ned-Laman-NOAA commented on #38
@MargaretSiple-NOAA @SarahFriedman-NOAA
You can spectate on this. I'm hoping one of you can take the lead next year on this document and, as I think I mentioned already Megsie, I wanted to assign you to anything with a document this year just so that you are aware of the documents that may lend themselves to automation in the future
As is, I think we're at a point where I should find out who/where

[2022-03-03 21:53] Ned-Laman-NOAA commented on #38
@MargaretSiple-NOAA @SarahFriedman-NOAA
Oops. I was thinking Cruise Announcement when I wrote the above. Everything there still applies, except that the Ops Manual doesn't go somewhere next. The Ops Manual is our guide and history for what happens each summer.
That said, if Christina needs some help with the Ops Manual she can reach out to the team assigned here as needed.

[2022-03-03 23:58] Ned-Laman-NOAA commented on #12
We're looking for the "paper" logs (skipper and FPC) but don't see them in the "G:\ALEUTIAN\AI 2022\Station logs". Just the electronic logs there. If these are Done as indicated, can you put copies in the above folder?
@smcdermo - were you able to shadow Paul on the development of the station logs for this year's survey?

[2022-03-04 00:01] Ned-Laman-NOAA commented on #47
Can you put the electronic station log instructions document @G:\ALEUTIAN\AI 2022\Station logs?

[2022-03-04 00:23] smcdermo commented on #12
Yes,
Paul showed me what he did.
Susanne

On Thu, Mar 3, 2022 at 3:59 PM Ned Laman ***@***.***> wrote:

--
Susanne McDermott, PhD  she/her
Research Fisheries Biologist
Alaska Fisheries Science Center
7600 Sand Point Way N.E.
Seattle, WA 98115-6349
(425) 681 1626

[2022-03-04 00:29] Ned-Laman-NOAA commented on #12
Schweet!

[2022-03-04 02:55] vszalay commented on #47
I have now placed the instructions for using the electronic station log at
G:\ALEUTIAN\AI 2022\Station logs

On Thu, Mar 3, 2022 at 4:01 PM Ned Laman ***@***.***> wrote:

--
Paul G von Szalay, MSc.
Research Fishery Biologist
Alaska Fisheries Science Center, NOAA Fisheries
7600 Sand Point Way, NE
Seattle, WA 98115
206-526-4153
***@***.***

[2022-03-04 02:57] vszalay commented on #12
I have now placed the Excel files that were used to produce the paper
skipper and FPC station logs in the directory you specified.

On Thu, Mar 3, 2022 at 3:59 PM Ned Laman ***@***.***> wrote:

--
Paul G von Szalay, MSc.
Research Fishery Biologist
Alaska Fisheries Science Center, NOAA Fisheries
7600 Sand Point Way, NE
Seattle, WA 98115
206-526-4153
***@***.***

[2022-03-04 04:37] zoyafuso-NOAA commented on #1
What else do we need to do for this task?

[2022-03-08 02:17] MargaretSiple-NOAA commented on #10
Stone corals special project areas added to Globe PC 990 and G Drive:
-special_projects_2022_stone.mdb

Remaining to do:

- add crab pot locations (still waiting on these from Mark Z)
- potentially buoy locations and non-coral Special Projects zones
- add instructions to fieldwork folder, temporarily [here](https://docs.google.com/document/d/1Dyt0soCwV0SBIY6bk4szMGlNDwGNGxQL/edit?usp=sharing&ouid=

[2022-03-08 02:21] MargaretSiple-NOAA commented on #1
@Ned-Laman-NOAA is there anything else we need to do here?

[2022-03-08 02:29] MargaretSiple-NOAA commented on #19
@bethanyriggle and @MarkZimmermann-NOAA Do you need anything from Cecilia or I to do these? Is this something where you need shapefiles? Sorry I mix these things up sometimes. Once I get it this year I think I will be good.

[2022-03-08 03:28] Ned-Laman-NOAA commented on #1
Sorry! Got confused for a second. This one is done. Stations have been assigned to strata and to vessels.
I was thinking about Special Project allocation to vessels which is still ToDo.

[2022-03-08 03:29] Ned-Laman-NOAA commented on #27
Once we get passed the first pre-cruise meeting (3/15) we will begin assigning projects to vessels. Many of the projects will be on both vessels, a few will be on one boat or the other-some of those bear discussion with the vessels before assigning them.

[2022-03-08 03:32] Ned-Laman-NOAA commented on #99
I think that I learned today that we can combine this traditional cruise announcement into the Scientific Research Permit (SRP) by adding on the extra bits needed for the SRP (e.g., projected species and numbers caught, protected species mitigation, etc.). I'm looking into this further and will update. Comments welcome.

[2022-03-08 04:36] #1 closed, assigned to Ned-Laman-NOAA, MargaretSiple-NOAA

[2022-03-08 15:44] zoyafuso-NOAA commented on #31
Hi Ned,

I have communicated with the assessors and we have agreed to the collection rules and any adjustments that I suggested. I will let Nancy know that the rules are finals.

@nwraring: The [CORE spreadsheet](https://docs.google.com/spreadsheets/d/1W8bKigNipl5IdQIQH5Kyq4twJxZKLi1zeS9UNE_JAsU/edit#gid=1924553237) has the totals requested by species. If we end up collecting more otoliths than th

[2022-03-08 16:08] Ned-Laman-NOAA commented on #31
Thanks, Zack.
Butting in here @nwraring, the answer to both of your collection questions is Yes.

[2022-03-09 01:12] Ned-Laman-NOAA commented on #4
Hi Zack,
Another piece of this task that we need to produce (or reproduce) is the tool that allows the FPCs (in consultation with folks back here on the beach) to determine if they have fallen far enough behind expected progress that we need to consider dropping a set of the identified stations. I think we can pretty easily refurbish one of the existing Excel versions of this (e.g., G:\ALEUTIAN\AI

[2022-03-09 02:03] MargaretSiple-NOAA commented on #10
No other maps for special projects; remaining to do:

- [x] add crab pot locations (still waiting on these from Mark Z)
- [x] potentially buoy locations
- [x] add instructions to fieldwork folder, temporarily [here](https://docs.google.com/document/d/1Dyt0soCwV0SBIY6bk4szMGlNDwGNGxQL/edit?usp=sharing&ouid=102897708184166605880&rtpof=true&sd=true)
- [x] return Globe computers to Gary by 01 April

[2022-03-09 02:08] MargaretSiple-NOAA commented on #38
Sounds good. I added some edits to the version on the G Drive using track changes. Not sure who we should be checking with to update the Minimum Attempted ID List (Table 1). Other things I think are all stuff that needs updating based on other moving pieces (staffing, vessels, etc).

[2022-03-09 15:36] Ned-Laman-NOAA commented on #38
Typically the Minimum Attempted ID List will be updated by our taxonomist (@SarahFriedman-NOAA). I think if Sarah can consult with Duane this year to see if there need to be any changes to this list. There may also be some changes coming in the Porifera and @SeanRooney-NOAA will be beginning that conversation with Duane and Sarah soon.

[2022-03-09 16:03] Ned-Laman-NOAA commented on #10
Took a quick look at the suite of functions I helped to write under the general function tow.path.oracle.globe() and can say that the make.globe.lines() function contains the code for writing Mark's shapefiles (around line 100 and again around line 375). Granted this is all probably deprecated rgdal or some other ancient package code, but I think it may still work...? I would also note in case it

[2022-03-09 18:45] MargaretSiple-NOAA commented on #10
Hi @Ned-Laman-NOAA -- per Mark, he has all the Globe-related products he needs for this year, so there is are no more ArcGIS shapefiles that need to be generated for this year.

The code we ran did generate `towpaths.shp`, `arcstarts.shp`, and `midpoints.shp` automatically, but I thought maybe there was a `.shp` file that had to do with the survey grid.

Anyway, Mark has what he needs. He sent me

[2022-03-09 18:51] Ned-Laman-NOAA commented on #49
Is this done? Where are we at on the cheat sheet?

[2022-03-09 22:11] Ned-Laman-NOAA commented on #10
Great to hear that Mark has what he needs. That is a key step taking care of.
I think in the past, I have been taking components from the digital chart products process and then building the grid shapefile in ArcGIS. I do believe, however, that @zoyafuso-NOAA may have generated the survey grid shapefile from R in which case I suggest stealing his code and integrating it into these digital chart pr

[2022-03-10 07:30] zoyafuso-NOAA commented on #4
So I essentially took that station dropping decision worksheet from 2018, changed the dates and names and saved it to the 2022 folder (G:\ALEUTIAN\AI 2022\Files for Boats\Station Dropping Tool). The second vessel is still V2 for now. I'm not sure what else should be done for that.

[2022-03-10 07:33] zoyafuso-NOAA commented on #10
The code to build the shapefile of the AI grids with trawlability information lives [here](https://github.com/zoyafuso-NOAA/AI_planning_stations/blob/main/code/trawlable_grids.R)

[2022-03-10 15:33] Ned-Laman-NOAA commented on #4
That should do the trick, Zack. I think we may need to go into the "expected" worksheets on each and adjust the dates there, but I can't recall just how that Excel sheet works so don't know how important that step is.

[2022-03-10 21:09] MargaretSiple-NOAA commented on #10
Thanks Zack. I believe we have a duplicate function in the old Globe R code files so I added a [note](https://github.com/coleary-noaa/Globe/issues/1) to the Globe repo that we could use yours instead (it's a little more polished).

And thanks Ned for the check boxes!

[2022-03-15 18:17] MargaretSiple-NOAA commented on #53
Can we add to the description a list of the software that needs to be checked? GAPsurvey package, ArcGIS, ....? What else?

[2022-03-15 19:00] bethanyriggle commented on #53
CTD Software will also be on the list, as well as which versions of R that will be needed at sea.

[2022-03-15 19:06] SarahFriedman-NOAA commented on #61
I submitted the following request to Joanna, so I think we can probably close this issue. Just recording the amounts of each chemical here for posterity.

Ethanol: 30 gallons (Vessel 2), 30 gallons (AK Provider)
Formalin: 5 gallons (Vesssel 2), 8 gallons (AK Provider)
Otolith solution: 15 gallons (both boats)

I added the extra 10 gal of ethanol to both boats for Sean Rooney's special project this

[2022-03-15 19:19] Ned-Laman-NOAA commented on #61
Thanks Sarah. I agree that with the request submitted we can close this task and call it done! Nice work.

[2022-03-15 19:56] #61 closed, assigned to nwraring, Ned-Laman-NOAA, bethanyriggle, SarahFriedman-NOAA

[2022-03-15 20:42] SarahFriedman-NOAA commented on #38
@Ned-Laman-NOAA I just chatted with Duane about this and there were three particular things he mentioned that I was hoping to get your thoughts on:
 - Sponges are being IDed to morphotype but we have no associated species codes with the different morphotypes, so perhaps it would be best to keep this as Porifera unid.
 - For EBS at least, Duane recommended making shrimps identifiable to genus and h

[2022-03-15 21:57] Ned-Laman-NOAA commented on #38
Thanks, Sarah.
Historically we have variety of sponges that we've ID'd to species, we have 4 species codes for morphotypes, and then what's left gets Porifera unid. As a minimum ID, Porifera unid. makes sense to me.
[Sponge_Morphotypes.pdf](https://github.com/afsc-gap-products/Survey-Planning/files/8257454/Sponge_Morphotypes.pdf)
I believe that Sean Rooney has recently determined that our ID succe

[2022-03-15 22:25] SarahFriedman-NOAA commented on #38
Ok, thanks for the feedback. That all sounds good to me.

[2022-03-16 17:28] bethanyriggle commented on #16
ArcMap Symbols being used:
![ArcMap Legend](https://user-images.githubusercontent.com/70727383/158650479-e1045276-86a8-4655-80ee-432cacb3a996.png)

These are from the 2020 charts, but red triangles will be Alaska Provider, and blue squares will be Vessel 2.

Met with @MargaretSiple-NOAA on 03/14 to get on same page with symbols and colors for ArcMap and GLOBE charts.

[2022-03-16 17:34] bethanyriggle commented on #18
Coordinates for Bob Stone sponge project:

[coordinates stone special project (1).csv](https://github.com/afsc-gap-products/Survey-Planning/files/8266897/coordinates.stone.special.project.1.csv)

As of 03/07, it will be the only special project being put on the maps this year.

[2022-03-16 17:36] MargaretSiple-NOAA commented on #16
Thank you Bethany!! This is super helpful. I am figuring out today how to do the Globe highly-visible versions of both of those. Will definitely match the symbols and may made red--> hot pink and dark blue--> bright turquoise because of the black background in Globe.

[2022-03-16 17:39] MargaretSiple-NOAA commented on #18
Stone coral project areas have been turned into two squares in Globe; .mdb file is at G:\ALEUTIAN\AI 2022\Files for Boats\Globe\Lines\special_projects_2022_stone.mdb .
The color is pale green.

[2022-03-16 17:42] bethanyriggle commented on #17
File pathway for towpaths and grid:

G:\ALEUTIAN\AI 2022\ArcGIS\Chart Products

[2022-03-16 17:48] bethanyriggle commented on #19
File path for protected species:

G:\ALEUTIAN\AI 2022\Protected Species

MML Moorings:

G:\ALEUTIAN\AI 2022\ArcGIS\MML Moorings

As of 03/16, AI Crabbers are actively fishing, so they will send updated coordinates once they store their gear in a few months. Will most likely need to be brought up on USB once survey starts.

If any files get updated, just make a comment in here with the file name an

[2022-03-16 22:23] MargaretSiple-NOAA commented on #16
OK, there is now an AI stations file on the G Drive that has the high-contrast versions of this scheme. It's called
G:\ALEUTIAN\AI 2022\Files for Boats\Globe\Marks\AI_stations_2022_mcs_colorfix.mdb

| Vessel | Color in Arc| Color in Globe (Globe color code) | Symbol in Arc and Globe (symbol code) |
| ----------- | ----------- | ----------- | ----------- |
| Alaska Provider | Red | Hot pink (13) |🔺

[2022-03-16 23:43] bethanyriggle commented on #16
Awesome! This looks great to me! I will consult with Mark to make sure we are good to close this issue.

[2022-03-17 16:43] bethanyriggle commented on #16
Created PDF versions of the charts, and placed them in G Drive. G:\ALEUTIAN\AI 2022\ArcGIS\2022_Charts.zip\2022_Charts

Still need to fix a few things regarding the notes about the 10 stations needing to be found, and alter the red notes on charts 1 and 2 about finding new stations.

[2022-03-17 20:50] MargaretSiple-NOAA commented on #34
@bethanyriggle Can you confirm whether the dates and staff on the schedule that Nate sent March 8th are set in stone? If so, we can get started on travel plans for everyone. I may have to talk to @nwraring and Ned about which airlines and accommodations are the ones to use.

Thank you Sarah for reminding me to get on this!

[2022-03-17 21:01] bethanyriggle commented on #34
@MargaretSiple-NOAA We just confirmed dates with the AK Provider, and made a couple of date changes, so I can forward you the newest staffing spreadsheet. We have not secured a second vessel, though, so we can't solidify dates for those personnel assigned to Vessel 2. Alaska airlines and Ravn will be the airlines for Dutch Harbor travel, and Alaska airlines will be the only one for Adak travel. Fl

[2022-03-17 21:06] Ned-Laman-NOAA commented on #34
hi all - travel plans have been on my daily list for a week now so we must all be thinking along the same lines.
@MargaretSiple-NOAA - lets you and I get together and start setting up Leg 1 travel. At the moment that means we need to build some multi-travel Return-to-Work (RTOW) packages and travel requests. I still need to work out some of the details of that and it might be wise for us to do it

[2022-03-18 18:55] MargaretSiple-NOAA commented on #10
Question for @Ned-Laman-NOAA about SSL rookery files:
We've got two SSL rookery map datasets, one that Mark got from Wayne in 2020, and one that we have from 2021. 
The file that Mark got from Wayne for AI 2020 a few additional SSL rookeries. Rookeries at Semisopochnoi, and two rookeries at the eastern end of Amchitka. 

The file that we copied from GOA 2021 (what is currently on the G Drive) does

[2022-03-18 19:30] Ned-Laman-NOAA commented on #10
Thanks for letting me know, Megsie.
I agree with your thought about being risk averse and including those rookeries at Semispochnoi and Amchitka.
Can you share Mark's files with me as well - point me to them on the network? I would like to update my layers here for the protected species consultation step in the Scientific Research Permit process.

[2022-03-18 22:48] MargaretSiple-NOAA commented on #10
@Ned-Laman-NOAA Mark didn't share his file before he left for the conference but I sent him an email and Bethany may have it too. I will send to you as soon as I have it! Sorry, should have gotten it from him earlier.

[2022-03-21 16:42] coleary-noaa commented on #10
Updating remaining to do before survey to bottom of thread for my brain:

Special Habitats bonus
- [x] NPRWCH.shp (North Pacific Right Whales critical habitat, dated June 16, 2016)
- [x] SeaOtterFinalCH_Project.shp (Sea otter critical habitat, dated June 16, 2016)
- [x] Crit_Hab_Coded_WDPA.shp (western SSLs, dated Oct. 22, 2010) - **did not add**; see comment below for why; Bethany will keep layer

[2022-03-21 19:45] coleary-noaa commented on #10
updated rookery 3nm buffer zones & lines for SSL with new union shapefile. added to Files for boats on G drive in 'Marks' folder, named 'SSl_3nm_Buffer_2022.mdb' and 'SSL_rookeries_lines_2022.mdb'

updated rookery 3nm buffer zones & rookery lines for SSL, stone corals special project areas & buoys added to Globe PC 715.

[2022-03-21 21:16] coleary-noaa commented on #10
Instructions still in progress but moved to group shared folder [here](https://drive.google.com/drive/folders/1mHTS-GVlmnEGUPBdXCs4WiajsOEO_xAt?usp=sharing)

[2022-03-21 22:25] coleary-noaa commented on #10
@Ned-Laman-NOAA not planning to add SSL critical habitat because their critical habitat overwhelms the entire AI habitat; see image below (leaving in the SSL 3nm buffers, SSL rookery lines, Survey2018SSLhapc areas.mdb and NoTranzitZones.mdb in Files for Boats & on Globe computer)

![image](https://user-images.githubusercontent.com/64496320/159373154-e3d6b9ce-7100-45c4-8110-9a672fb60be0.png)

[2022-03-21 22:34] Ned-Laman-NOAA commented on #10
Makes sense. I think we can have the layer in the folders and available if needed, but no need to display it.
Basically, more than 3/4 of our stations are in SSL Critical zone and no-one seems to blink; not until we are approaching those 3nm no transit buffers.

[2022-03-21 22:42] coleary-noaa commented on #10
ok great; yes the 3 nm buffers and the rookery lines will remain and are updated!

[2022-03-21 22:44] coleary-noaa commented on #10
NPRWCH.shp converted to Globe file, added to both to Globe PC 715 and G drive files for boats

[2022-03-22 00:41] MargaretSiple-NOAA commented on #34
Hi Ned et al,
I was just looking back through all my emails from last survey season and saw all the emails I sent folks about sea bag drop off, forms, and a bunch of other stuff. Please forgive me for not checking this earlier. I will check sea bag drop off dates with Kevin (?) and will tag Ned on the first email draft so we can agree on when it should be sent.

Here is a brief summary of the type

[2022-03-22 17:17] Ned-Laman-NOAA commented on #10
FYI - Just heard from skipper of the Alaska Provider that they are running the newest version of Globe on the bridge (4.1.5). I wonder if we can get a trial copy of that version to see if our layers display in that version? Can one of you check the ECC website to see if there are trial copies available? There used to be back when.

[2022-03-22 17:28] coleary-noaa commented on #10
@Ned-Laman-NOAA After quick webpage browse, seems like there might be demos? http://www.globenav.com/downloads.html

[2022-03-22 17:34] Ned-Laman-NOAA commented on #10
Sounds right. Not sure how much functionality the trial/demo versions have, but it's one thing to try.
We could also try talking to the people at ECC. They have typically been very helpful. Maybe we could share a lines or marks file and ask them if it displays in 4.1.5?

[2022-03-22 20:30] Ned-Laman-NOAA commented on #10
Chatted with Megsie about this today in a different meeting.
We may also be able to ask ECC Globe for support directly by seeing if anyone there would be willing to try and display one of our marks/lines files in the newer version of Globe just to see if it would show up.
McMurrin was thinking about new copies of Globe, but I don't know if that was in a purchasing sense or not. I will try to remem

[2022-03-22 22:44] coleary-noaa commented on #10
All files that can be completed are completed! Loaded on G drive in Files for Boats Globe folder, as well as on Globe PC 715 and Globe PC 990. Complete list of files included below:</br>
**Lines**
![image](https://user-images.githubusercontent.com/64496320/159585867-be706b64-6c67-495d-8765-7486e27a945d.png)

**Marks**
![image](https://user-images.githubusercontent.com/64496320/159588506-b76446ac-e

[2022-03-22 23:15] MargaretSiple-NOAA commented on #10
Re: the newer version of Globe on some of the ships, I talked to Daniel from ECC on the phone this afternoon and he says everything should be compatible with the newer Globe version. I sent him a test file (just some buoys) to test it out on Globe 4.1.5 and will report back here with the result. He says we can also call him when we're at sea.

Cecilia and I will mark our Globe computers tomorrow o

[2022-03-22 23:45] Ned-Laman-NOAA commented on #10
Yay! Super that you connected with Daniel. He's been there forever and is very helpful.
Thanks to you both for doing a great job with a difficult project!

[2022-03-23 15:26] bethanyriggle commented on #17
Towpaths added to charts. Closing issue.

[2022-03-23 15:26] #17 closed, assigned to coleary-noaa, bethanyriggle, MargaretSiple-NOAA, MarkZimmermann-NOAA

[2022-03-24 16:36] Conrathcl commented on #26
Emily and Liz have a form for setting up a placard for special projects.  I have a draft of the text for that [here](https://docs.google.com/spreadsheets/d/1g-yICVQsucBHSX9JKAIOXQ-FEvJacRLWKGheCM262yI/edit?usp=sharing) in case anyone wants to review/edit. I'll submit as soon as we have a second vessel and have allocated projects between boats.

Question for @Ned-Laman-NOAA : we are also going to w

[2022-03-24 20:39] MargaretSiple-NOAA commented on #10
Daniel says our .mdb files work in Globe 4.1.5 so we're good on that front.

[2022-03-24 20:40] Ned-Laman-NOAA commented on #10
Outstanding!!

[2022-03-26 00:35] Ned-Laman-NOAA commented on #26
While we don't know the name of the other vessel, I think we can do the vessel allocation now. We might not be able to print the placards, but we will need to put things in the right gear piles for the vans in the next couple of weeks. Which of these projects are for both vessels and which are on just one? Can you add that to the text you linked above?

[2022-03-26 16:30] nwraring commented on #26
@Conrathcl , I will be doing the placards. I'm get this started next week.

[2022-03-28 14:26] Conrathcl commented on #26
Thanks @nwraring there are a number of projects that would benefit from having a tally sheet on deck, let me know if you want me to help with this effort.

I'm not the lead on the vessel allocation, so I was waiting before diving in.  I will take a first crack at it today and add it to this [sheet](https://docs.google.com/spreadsheets/d/1br8esdbZYswRgeTI5EKr7PIXhePW4nCW/edit?usp=sharing&ouid=10527

[2022-03-28 14:49] Conrathcl commented on #27
I took a quick first stab at the allocation between boats [here](https://docs.google.com/spreadsheets/d/1br8esdbZYswRgeTI5EKr7PIXhePW4nCW/edit?usp=sharing&ouid=105279028397081025832&rtpof=true&sd=true).

My preliminary thought process:
Most projects can go on both vessels, particularly those with rare species.
I put the freezer heavy projects on the AK Provider  (Observer + Wells)
To balance that

[2022-03-28 17:32] Ned-Laman-NOAA commented on #10
Can you share any habitat areas of particular concern (HAPC) shapefiles you have to the folder here G:\AI-GOA\shapefiles? I need them for the Scientific Research Permit (SRP) consultation that will begin once we have a named second vessel.
I see from your labels for the mdb versions that you've labeled these SSLHAPC, but my understanding is that these HAPCs originated from areas of high sponge/cor

[2022-03-28 18:40] Ned-Laman-NOAA commented on #27
I have no objections to this allocation. Good job, Christina!

[2022-03-29 20:58] bethanyriggle commented on #16
10 survey stations needing to be found have had notes added to the charts, and are saved in the G Drive.

G:\ALEUTIAN\AI 2022\ArcGIS\2022_Charts.zip\2022_Charts

Since all stations have been added to the charts, along with the notes for the 10 new ones to be found, I am officially closing the issue.

[2022-03-29 20:58] #16 closed, assigned to coleary-noaa, bethanyriggle, MargaretSiple-NOAA, MarkZimmermann-NOAA

[2022-03-29 23:11] Ned-Laman-NOAA commented on #10
Hi all. I got these from Mark Z and they now live @G:\AI-GOA\shapefiles\AI_Coral_HPA

[2022-03-30 00:35] MargaretSiple-NOAA commented on #10
Hi Ned -- sorry I dropped the ball on these; it was on my to do list to get them to you and other stuff piled up! Glad you got what you needed from Mark.

[2022-03-30 23:43] SarahFriedman-NOAA commented on #64
Collected and checked that all of the ID guides are up to date and staged in building 8

[2022-03-31 14:59] #39 closed, assigned to Conrathcl, SeanRooney-NOAA, Ned-Laman-NOAA, MargaretSiple-NOAA, SarahFriedman-NOAA

[2022-03-31 15:16] Conrathcl commented on #38
Hi All - this is what I have left to do and there are a few things I could use some help with:

Ned can you:  Confirm daily email contact list: Michael, Ned, Jerry, and Nate?  Pg:  6

Update vessel contact information for both boats Pg. 135 (Ned do you have this information?)

Update personnel table – Nate will update Pg. 133

Update participant contact information Pg. 134 - I think we should cons

[2022-03-31 21:47] Ned-Laman-NOAA commented on #58
Closed. RSST submitted GBL.

[2022-03-31 22:06] #18 closed, assigned to coleary-noaa, bethanyriggle, MargaretSiple-NOAA, MarkZimmermann-NOAA

[2022-04-01 00:27] Ned-Laman-NOAA commented on #38
Thanks, Christina.
Daily email list confirmed. Vessel contact info:
Vessel: F/V Alaska Provider
Vessel Design: Pacific Trawler
Call sign: WDG2215
Vessel registration number:
Home Port: Seattle

Vessel Owner: US Seafoods
Address: 1801 Fairview Avenue East, Suite 100; Seattle, WA 98102
Phone: 206-763-3133
Fax: 206-832-1695
Contact: Matt Upton
Alternate Contact:
Captain: Loren Reynolds

Vessel: F/V O

[2022-04-01 00:31] MargaretSiple-NOAA commented on #38
Hi Ned et al. -- if you need it, I have contact info for participants stored [here](https://docs.google.com/spreadsheets/d/1hsG8rBmBmUyAGX_yVisE1mo7R7HRmdC_uvR9GWDAjnw/edit?usp=sharing) in the "staff summary" tab. Since it's personal contact info I will leave it to Ned to codify it into any actual documents.

[2022-04-01 00:35] Ned-Laman-NOAA commented on #38
This is great, Megsie. My recc will be that once this is full we provide it to all travelers so that they can contact each other en route if necessary. Probably just as this worksheet but preface the distribution with an ask for people to indicate if they would prefer to not have that information shared. Does that sound like a reasonable approach?

[2022-04-01 01:09] Conrathcl commented on #38
Thanks Ned!  The current document is living on the G drive: Aleutians/ 2022/Ops Plan and it is beyond my current GIT skills to know how to link that here.  I copied it to the google drive [here](https://docs.google.com/document/d/1_N8J36A47Iep1GeCePmnNZTPjH5lLEcx/edit?usp=sharing&ouid=105279028397081025832&rtpof=true&sd=true).  It may make more sense to just have it as a google doc?  If so I will

[2022-04-01 21:15] MargaretSiple-NOAA commented on #34
As of today, I have filled out travel requests for Leg 1 staff on both vessels, including Nate and Bethany who are staying for two total legs 🛫 . Travel Requests are stored [here](https://drive.google.com/drive/folders/1XN9fBpNjic0OOvXAZ5zWkQPfbCTmq0k7?usp=sharing).

[2022-04-04 16:18] Ned-Laman-NOAA commented on #38
Thanks, Christina. You can make the call whether it lives on the GDrive or the Google Drive. Both are easily accessible to our team. I would be a little concerned about formatting issues in Google Drive so am leaning slightly toward the GDrive. You have the right of it though. We want to have only one copy of this where ever it lands!

[2022-04-04 16:32] Conrathcl commented on #38
I deleted the google drive copy.  I am about to jump into working on the table of contents and I think that might be challenging on the google. Most of the things on my to do list have been checked off.  I think it is down to any additional edits, updating the personnel list, and fixing the toc.

[2022-04-04 17:04] Ned-Laman-NOAA commented on #27
Hi all. Duane and I requested that the stomach lab reduce their collections this summer since they have professed an inability to process the samples that they already have on hand. They have responded and reduced the number of stomachs to be collected on AI 2022. Yay! See attached
[2022 AI Stomach Sampling plan_REDUCED_n.pdf](https://github.com/afsc-gap-products/Survey-Planning/files/8411730/2022

[2022-04-06 16:24] Conrathcl commented on #38
Hi All,  I'm done with all that I had planned for the document.  It would be good to get one last personnel update.  If there are any additional edits or substantial changes we should update the TOC again, but hopefully all of the formatting is done to make this a simple just push the update button exercise.

Ned - let me know if there is anything else you want me to edit or add.  This is the poin

[2022-04-07 20:59] bethanyriggle commented on #65
From Joanna: Doors closed for Aleutians container on May 10, leaves campus May 11, shipping to Dutch on May 13.

Gray totes for supplies will be finished by 04/13, so can be inventoried after that.

[2022-04-13 14:51] Ned-Laman-NOAA commented on #38
Got it, and Thanks, Christina.
I will put this on the docket to review before the end of April.
If I make any substantive changes I will run them by you to make sure I haven't messed something up down the line.

[2022-04-13 19:31] SarahFriedman-NOAA commented on #34
Travel requests are completed for all legs with the updated survey dates! All are in the google drive folder Megsie linked above.

[2022-04-14 23:33] bethanyriggle commented on #65
At-sea supply inventory completed 04/14.

[2022-04-15 17:31] bethanyriggle commented on #63
RSST doing this, ask Joanna about the status.

[2022-04-19 19:30] bethanyriggle commented on #23
Printing charts 04/25

[2022-04-19 19:45] bethanyriggle commented on #43
Change to Letter of Agreement (LOA) for future.

[2022-04-22 17:28] nwraring commented on #34
@bethanyriggle
Hey all. I'm not sure if this is something we have to deal with this year or not. In past years we have had  to get paperwork from anyone that was a volunteer regarding bank account info so that the per diem could get deposited even if they weren't getting a paycheck. I'm not sure if this is something that we would still do for Albi, Mabel  or Katie. I only collected these one year.

[2022-04-22 19:01] Ned-Laman-NOAA commented on #34
I think that we do need this paperwork for certain individuals, though I'm not positive I know who they are at this point other than to say I'm pretty sure that Katie and Mabel wouldn't be them since they are already inside the NOAA firewall as FTEs. Albi might be one who needs the form, but maybe that's another question we can push toward Martin Dorn as he works with Albi and UW to get Albi's tra

[2022-04-22 19:16] nwraring commented on #34
Since observers and IPHC folks handle thier travel separately they wouldn't get per diem. Stomach lab contractors have their own deal. Jeremy was out with us last year so his paperwork is probably already un unless it needs to be re-submitted. I think that's everyone.

[2022-04-22 19:22] Ned-Laman-NOAA commented on #34
OK, so Megsie has already been in contact with Martin about Albi. Let's see what she can turn up. Cecilia was in Albi's position just a couple of years ago so she probably recalls some details that could help. Can you drop her a note?

[2022-04-22 19:54] nwraring commented on #34
will do.

On Fri, Apr 22, 2022 at 12:22 PM Ned Laman ***@***.***> wrote:

[2022-04-22 19:56] nwraring commented on #34
@coleary-noaa
Hey Cecilia. We're trying to figure out what Albi needs to do in order to be able to turn in expenses for travel and get per diem. Do you recall what paperwork you had to submit when you were doing a post-doc and went out on the survey?
Thanks,
Nate

[2022-04-23 02:09] MargaretSiple-NOAA commented on #34
Hi team-- I've been in touch with Albi, Martin, and André about his travel arrangements and I think he has all the info he needs to get it set up. I'm pretty sure that any account paying his per diem is set up at UW not at NOAA. Any which way, I think we have what we need, unless Albi has contacted you today asking for further help.

[2022-04-23 02:42] nwraring commented on #34
Thanks for looking into that Megsie! I haven't heard from Albi but I'll
keep an eye out. Have a great weekend.

On Fri, Apr 22, 2022 at 7:09 PM Margaret Siple ***@***.***>
wrote:

[2022-04-25 14:39] Ned-Laman-NOAA commented on #34
Thanks, Megsie and Nate.
It is a great help to me and to the survey that you are do on top of this!

[2022-04-25 14:49] Ned-Laman-NOAA commented on #27
Quick update here. Stomach lab did reduce their collection request this year. Yay!

[2022-04-25 15:51] coleary-noaa commented on #34
I sent more details to Ned, Megsie, Sarah on 18 April in an email requesting this info, but yes, if you are a contractor/postdoc at UW, all your forms and travel arrangement are through UW and a UW spending account with my grant money was used. I do not know how it worked behind the scenes between UW and NOAA (Andre would know).

[2022-04-25 15:58] nwraring commented on #34
Thanks Cecilia.

On Mon, Apr 25, 2022 at 8:51 AM coleary-noaa ***@***.***>
wrote:

[2022-04-26 00:09] MargaretSiple-NOAA commented on #10
Sounds from @bethanyriggle (from, in turn, Pam Goddard) like we may not have the most updated sea lion rookery shapefiles and we may need to change them. Bethany is going to check "updated" files from Pam in GIS and then we may have to reformat/reimport those if there are big differences between the two files. I will be in the office tomorrow (tuesday) and will troubleshoot w Bethany.

[2022-04-26 00:26] bethanyriggle commented on #10
From Pam Goddard, for all up-to-date SSL Rookeries and Haulouts, use these links:
https://www.fisheries.noaa.gov/alaska/marine-mammal-protection/steller-sea-lion-data
https://www.fisheries.noaa.gov/inport/item/17921

(For use with future surveys)

[2022-04-26 16:52] Ned-Laman-NOAA commented on #10
I seem to recall Rebecca Reuter directing me to a website with shapefiles for the rookeries and they were based on that 2015 pub. However, I'm not finding it in the mountain of old email so one of you might contact Rebecca for her take on the most up to date rookery versions. If I find that link I'll send it your way.

[2022-04-27 23:27] MargaretSiple-NOAA commented on #10
Adding checklist for crab pots (need to prep these for Globe) -- @MarkZimmermann-NOAA feel free to edit this list as needed):

- [x] Alaska Trojan
- [x] Early Dawn West (called "wag storage april 22.mdb")
- [x] Early Dawn East
- [x] Pat Lee's Early Dawn storage
- [x] Pat Lee's Erla N storage

[2022-04-28 18:16] MargaretSiple-NOAA commented on #10
All currently avail crab pot files have been formatted for Globe; I will test them on Globe computer on 4/29 and if good, will add to G Drive files for boats and Globe computers.

[2022-04-28 19:16] Ned-Laman-NOAA commented on #10
Sweet!

[2022-04-29 20:38] coleary-noaa commented on #10
Crab pot location details for reference/comparison to Globe:
key:
![image](https://user-images.githubusercontent.com/64496320/166065664-791ee880-2e69-430e-bd15-15d83e9f8acf.png)

Overview:
![image](https://user-images.githubusercontent.com/64496320/166065727-cabc4df3-4c7f-42fe-a612-62de06132c2f.png)

PL_ED & PatLees_gear
![image](https://user-images.githubusercontent.com/64496320/166065796-b0e4788

[2022-04-29 20:50] Ned-Laman-NOAA commented on #10
That there is a lot of crab pots! Anybody overlay this with station allocation yet to see how many conflicts we are looking at?

[2022-04-29 20:51] MarkZimmermann-NOAA commented on #10
Yes, these all look good!

On Fri, Apr 29, 2022 at 1:38 PM coleary-noaa ***@***.***>
wrote:

[2022-04-29 20:57] MargaretSiple-NOAA commented on #10
They look good in GIS... but we have to get them to look good in Globe (I'm working on it!). @Ned-Laman-NOAA it **is** a lot of crab pots and I think Mark has been looking at overlap!

[2022-04-30 00:36] MargaretSiple-NOAA commented on #10
It took a minute but I figured out why some of those crab pot lines were missing-- it was an issue with the R code I was using to produce the csv files. Now it is [fixed ](https://github.com/afsc-gap-products/Globe/commit/2a40fac2e5ed2fcd648ad27560e7a599479b54b0)and looks like it should! NB, for Cecilia, I couldn't really figure out what was happening, but after a certain number of rows it was pro

[2022-04-30 03:20] Ned-Laman-NOAA commented on #10
Great detective work, Megsie!
I'll be in on Tuesday next week and can move files around if needed. Where is the other Globe machine?

[2022-05-02 13:36] coleary-noaa commented on #10
Gary should have both Globe machines for AI!

[2022-05-02 13:38] coleary-noaa commented on #10
I'll see if I can take a look and figure out why replicates were happening! Let me know what .mdx file is needed and I can check today or tomorrow. Awesome job sleuthing that out!

[2022-05-02 15:52] MargaretSiple-NOAA commented on #10
Thanks Cecilia. I emailed you the .mdx file with all the crabpots included, which should make it easier to check. Originally, I had adapted the crabpot line code from `SSLRookeries/format_rookery_lines.R`. The part that I changed is the creation of the table for the .csv, which is now in [this tidyverse variation](https://github.com/afsc-gap-products/Globe/blob/c9c5b0e86690c31705fe81aebef1dc2adfef

[2022-05-02 15:53] MargaretSiple-NOAA commented on #10
Yes-- Gary has one and the other is in my office (1172).

[2022-05-02 19:55] coleary-noaa commented on #10
@MargaretSiple-NOAA double checked .mxd file relative to globe images and all crab pot lines match, and R conversion code looks good to go!

[2022-05-03 20:39] bethanyriggle commented on #20
Up to date info has been added, but if any further info comes in, will need to be hand carried up.

[2022-05-03 20:39] #20 closed, assigned to smcdermo, bethanyriggle, MarkZimmermann-NOAA

[2022-05-03 20:41] bethanyriggle commented on #21
All but one vessel received, after charts were printed, so FPC's will need to refer to charts on computer for updated information.

[2022-05-03 20:41] #21 closed, assigned to smcdermo, bethanyriggle, MarkZimmermann-NOAA

[2022-05-03 20:41] bethanyriggle commented on #22
All special projects added to charts before printing.

[2022-05-03 20:41] #22 closed, assigned to smcdermo, bethanyriggle, MarkZimmermann-NOAA

[2022-05-03 20:41] bethanyriggle commented on #23
Charts printed 04/25.

[2022-05-03 20:41] #23 closed, assigned to smcdermo, bethanyriggle, MarkZimmermann-NOAA

[2022-05-13 17:01] coleary-noaa commented on #36
Leg 1 & Leg 2 OT sheets completed for all FTEs and signed by Ned. Can be found G:\ALEUTIAN\AI 2022\Files for Boats\Time Keeping\CD-81 OT Authorization Form

@Ned-Laman-NOAA submitted leg 1 forms, will submit leg2 forms before he leaves for survey, & will complete leg 3 forms upon return from survey.

[2022-05-18 18:01] bethanyriggle opened #116 "Future Considerations"

[2022-05-23 21:13] MargaretSiple-NOAA commented on #34
Albi is all taken care of -- he has plane tickets in hand and has reservations for his SIP. The flights are entered in our Flights tab. All that remains to do is:

- [x] Distribute COVID antigen tests to remaining staff
- [ ] Confirm that all itineraries are in Files for Boats

[2022-05-23 21:36] Ned-Laman-NOAA commented on #34
Congratulations! Getting to this point represents a lot of work all y'all.

[2022-05-24 19:56] MargaretSiple-NOAA commented on #115
@nwraring  and @vszalay it looks like this is Done-- can you close the issue if so? I am cleaning up our survey planning project in a couple spots!

[2022-05-24 20:11] Ned-Laman-NOAA commented on #11
established in GIDES

[2022-05-24 20:11] #11 closed, assigned to Ned-Laman-NOAA

[2022-05-24 20:12] Ned-Laman-NOAA commented on #5
I think this was here to coordinate when we were doing a lot more swapping of personnel between the Bering and us. Lyle and I would try to set leg dates that allowed for travel between surveys. Good to keep in since we'll be doing more of this in the future.

[2022-05-24 20:12] #5 closed, assigned to Ned-Laman-NOAA

[2022-05-24 20:12] Ned-Laman-NOAA commented on #13
I marked it done so I must've done it!

[2022-05-24 20:12] #13 closed, assigned to Ned-Laman-NOAA

[2022-05-24 20:12] Ned-Laman-NOAA commented on #14
don't remember doing it, but I must've.

[2022-05-24 20:12] #14 closed, assigned to Ned-Laman-NOAA

[2022-05-24 20:13] Ned-Laman-NOAA commented on #15
I do remember doing this exercise in GIDES

[2022-05-24 20:13] #15 closed, assigned to Ned-Laman-NOAA

[2022-05-24 20:14] Ned-Laman-NOAA commented on #30
The team completed this review in March

[2022-05-24 20:14] #30 closed, assigned to smcdermo, Ned-Laman-NOAA, SarahFriedman-NOAA

[2022-05-24 20:14] Ned-Laman-NOAA commented on #31
Zack did an awesome job completing this.

[2022-05-24 20:14] #31 closed, assigned to Ned-Laman-NOAA, zoyafuso-NOAA

[2022-05-24 20:16] Ned-Laman-NOAA commented on #38
I put the "final" edits into this document so it got "done" technically.
Turns out there are still a few things that needed to be fixed which are now in the digital copy and hand entered in the printed copies!

[2022-05-24 20:16] #38 closed, assigned to Conrathcl, SeanRooney-NOAA, Ned-Laman-NOAA, MargaretSiple-NOAA, SarahFriedman-NOAA

[2022-05-24 20:16] Ned-Laman-NOAA commented on #40
Received

[2022-05-24 20:16] #40 closed, assigned to nwraring, Ned-Laman-NOAA

[2022-05-24 20:17] Ned-Laman-NOAA commented on #41
Received

[2022-05-24 20:17] #41 closed, assigned to nwraring, Ned-Laman-NOAA

[2022-05-24 20:17] Ned-Laman-NOAA commented on #42
Consultation conducted and completed over email with Suzie Teerlink at Protected Species

[2022-05-24 20:17] #42 closed, assigned to nwraring, Ned-Laman-NOAA

[2022-05-24 20:18] bethanyriggle commented on #56
Computers loaded and shipped to Dutch Harbor.

[2022-05-24 20:18] #56 closed, assigned to nobody

[2022-05-24 20:18] #58 closed, assigned to nwraring, Ned-Laman-NOAA, bethanyriggle

[2022-05-24 20:18] Ned-Laman-NOAA commented on #43
This is a standing arrangement at the Center level. Probably on some renewal cycle, but not something we directly request or generate. We do need to include it in our docs though.

[2022-05-24 20:18] #43 closed, assigned to Ned-Laman-NOAA

[2022-05-24 20:19] #65 closed, assigned to nwraring, bethanyriggle

[2022-05-24 20:19] bethanyriggle commented on #65
Containers loaded and shipped on 05/11

[2022-05-24 20:19] Ned-Laman-NOAA commented on #44
Conflicts have been reviewed. Consultation with Protected Species was completed. Instructions for dealing with conflicts on SSL rookeries are included in Files for Boats

[2022-05-24 20:19] #44 closed, assigned to nwraring, Ned-Laman-NOAA, MarkZimmermann-NOAA

[2022-05-24 20:20] Ned-Laman-NOAA commented on #49
Nate provided this for Files for Boats and it is mirrored in the RACE Survey App

[2022-05-24 20:20] #49 closed, assigned to nwraring, Ned-Laman-NOAA

[2022-05-24 20:21] Ned-Laman-NOAA commented on #54
There were a bunch of testing days and most participated and got this done.

[2022-05-24 20:21] #54 closed, assigned to Conrathcl, vszalay, SeanRooney-NOAA, Ned-Laman-NOAA, zoyafuso-NOAA, bethanyriggle, MargaretSiple-NOAA

[2022-05-24 20:22] bethanyriggle commented on #72
CTD's calibrated and assembled. Calibration took longer than anticipated due to contracting issues with SeaBird, so possibly something to be more on top of next year? We received the CTD's on 04/25, and quickly assembled them in the housings before the containers were being loaded.

[2022-05-24 20:22] #72 closed, assigned to nwraring, coleary-noaa, bethanyriggle

[2022-05-24 20:22] #73 closed, assigned to nwraring, coleary-noaa, bethanyriggle

[2022-05-24 20:31] MargaretSiple-NOAA commented on #10
OK the updated rookery lines are now in Files for Boats and in our Globe repo. Cecilia has gotten the last two crab boat files and put them on FFB too! I am hereby marking this task as done 🚀

[2022-05-24 20:31] #10 closed, assigned to coleary-noaa, MargaretSiple-NOAA

[2022-05-24 20:36] bethanyriggle commented on #19
Final crab pot storage files:
Y:\RACE_GF\ALEUTIAN\AI 2022\ArcGIS\CrabPots\PatLee_lateMay
Y:\RACE_GF\ALEUTIAN\AI 2022\ArcGIS\CrabPots\AleutianNo1_lateMay

As of 05/24, all crab pot storage locations are up to date! Any new files will need to be hand carried up on later legs.

[2022-05-24 20:36] #19 closed, assigned to coleary-noaa, bethanyriggle, MargaretSiple-NOAA, MarkZimmermann-NOAA

[2022-05-24 21:19] SeanRooney-NOAA commented on #45
Guess this is done for the year, or at least as good as it gets

[2022-05-24 21:19] #45 closed, assigned to smcdermo, SeanRooney-NOAA, zoyafuso-NOAA, SarahFriedman-NOAA

[2022-05-24 23:28] #27 closed, assigned to Conrathcl, Ned-Laman-NOAA, zoyafuso-NOAA, bethanyriggle, SarahFriedman-NOAA

[2022-05-24 23:28] #26 closed, assigned to Conrathcl, Ned-Laman-NOAA, zoyafuso-NOAA, SarahFriedman-NOAA

[2022-05-24 23:34] vszalay commented on #115
The ES60 calibration kits are done and (presumably) packed by now.

[2022-05-24 23:36] #115 closed, assigned to nwraring, vszalay

[2022-10-11 08:30] MarkZimmermann-NOAA commented on #10
Yes, we have several station conflicts.
I have been checking them out.

I think it would be a good exercise for all of us involved in the mapping
to go through pot/station/trawl overlaps.

Still waiting on files from the last two boats (Aleutian #1 and Patricia
Lee) who will be fishing for another month or so.
-Mark

On Fri, Apr 29, 2022 at 1:50 PM Ned Laman ***@***.***> wrote: